# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Banco SQLite local
database_logistic.db
*.sqlite
*.sqlite3

# Logs
.pytest_tmp/


# Variaveis de ambiente
.env

# Sistema/editor
.DS_Store
Thumbs.db
.vscode/